{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <!-- custom header js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

  <title>Online Exam System - Home</title>
</head>

<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Some About stuff here</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              {% if user.is_authenticated %}
              <li>
                <a href="/admin/logout/?next=/"> Logout</a>
              </li>
              {% elif not user.is_authenticated %}
              <li><a href="/admin" class="text-white">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg> -->
          <strong>NSTU - OES</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome to NSTU Online Exam System</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, molestias minima eius
          sed reprehenderit eum ipsa possimus dolorem eaque nostrum magni explicabo vitae quo iste, et blanditiis odit
          ea aut!</p>
          <p>
              {% if user.is_authenticated %}
              <a href="#" data-toggle="modal" data-target="#main_modal" class="btn btn-primary my-2">Take an Exam Now</a> 
              {% elif not user.is_authenticated %}
              <a href="/admin/login/?next=/" class="btn btn-primary my-2">Login</a>
              {% endif %}
          
          <a href="/admin" class="btn btn-secondary my-2">Go to Dashboard</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          
          {% for qz in quiz %}
          <div class="col-md-4 single_block">
            <div class="card mb-4 shadow-sm">
              <h3>{{ quiz.quiz_name }}</h3>
              <div class="card-body">
                <p class="card-text">
                  Start time: {{ qz.pub_date_time }} <br>
                  Publish time: {{ qz.created_at }} <br>
                  Duration:{{ qz.duration }} hours
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/quiz_page/{{ qz.id }}" type="button" class="btn btn-sm btn-outline-secondary">Take this exam</a>
                  </div>
                  <small class="text-muted days_remaining"></small>
                  <script>
                    exam_date = moment('{{ qz.pub_date_time|date:"Y,m,d, h:i:s A"  }}');
                    current_time = moment('{% now "Y,m,d, h:i:s A" %}');
                    duration = moment.duration(exam_date.diff(current_time));
                    // console.log(duration.asDays());
                    // console.log(duration.asHours());
                    document.write(duration.asHours().toFixed(0) + ' hours');
                  </script>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          
        </div>
      </div>
    </div>

  </main>

  <!-- Modal -->
  <div class="modal fade" id="main_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Enter Quiz Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/quiz_action/">
            {% csrf_token %}
            <div class="form-group row">
              <label for="static_user_id" class="col-sm-2 col-form-label">Your User Id</label>
              <div class="col-sm-10">
                <input required type="text" readonly class="form-control-plaintext" id="static_user_id" name="static_user_id" value="{{ user.id }}">
              </div>
            </div>
            <div class="form-group row">
              <label for="form_quiz_id" class="col-sm-2 col-form-label">Quiz ID</label>
              <div class="col-sm-10">
                <input required type="text" class="form-control" id="form_quiz_id" name="form_quiz_id" placeholder="22">
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Let's Go</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>



  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting
          started guide</a>.</p>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  
  <!-- custom scripts -->
  <script src="{% static 'custom.js' %}"></script>
</body>

</html>